<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
    <div class="side-nav-wrapper">
        <span id="logo">UX Design</span>
        <nav>
            <dl>
                <div class="menu__header js-menuHeader">Introduction</div>
                <div class="menu__list is-closed">
                  <div class="menu__wrapper">
                    <a class="menu__item" href="../introduction/introduction.html">Introduction</a>
                  </div>
                </div>

                <div class="menu__header js-menuHeader">Components</div>
                <div class="menu__list is-closed">
                  <div class="menu__wrapper">
                    <a class="menu__item" href="../components/cards.html">Cards</a>
                    <a class="menu__item" href="../components/Buttons.html">Buttons</a>
                    <a class="menu__item" href="../components/check-toggle.html">Checkboxes/Toggles</a>
                    <a class="menu__item" href="../components/text.html">Text Field</a>
                    <a class="menu__item" href="../components/grid-list.html">Grid Lists</a>
                    <a class="menu__item" href="../components/table-list.html">Table Lists</a>
                    <a class="menu__item" href="../components/selectors.html">Selectors</a>
                  </div>
              </div>
                <div class="menu__header js-menuHeader">Patterns</div>
                <div class="menu__list is-closed">
                  <div class="menu__wrapper">
                    <a class="menu__item" href="../patterns/empty-states.html">Empty States</a>
                     <a class="menu__item" href="../patterns/navigation.html">Navigation</a>
                  </div>
                </div>
              <div class="menu__header js-menuHeader">Style</div>
                  <div class="menu__list is-closed">
                    <div class="menu__wrapper">
                      <a class="menu__item" href="../style/color.html">Color</a>
                       <a class="menu__item" href="../style/icons.html">Iconography</a>
                       <a class="menu__item" href="../style/typography.html">Typography</a>
                    </div>
                </div>
                <div class="menu__header js-menuHeader">Animation</div>
                    <div class="menu__list is-closed">
                      <div class="menu__wrapper">
                        <a class="menu__item" href="../animation/hover.html">Hover Interactions</a>
                        <a class="menu__item" href="../animation/transitions.html">Transitions</a>

                      </div>
                  </div>
              </dl>

                <!--div class="menu__header js-menuHeader">Components</div>
                <div class="submenu menu__list is-closed">
                  <div class="menu__wrapper">
                    <a class="menu__item menu__item--upper" href="../concerto/prototypes.html">Prototypes</a>
                    <div class="menu__header js-menuHeader">Curated Collection</div>
                    <div class="menu__list is-closed">
                      <div class="menu__wrapper">
                        <a class="menu__item" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="menu__item" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="menu__item" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="menu__item" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="menu__item" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="menu__item" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="menu__item" href="../2-2-collection/07-brand.html">Front-end: Chiller Brand</a>
                      </div>
                    </div>
                    <div class="menu__header js-menuHeader">Blog Post</div>
                    <div class="menu__list is-closed">
                      <div class="menu__wrapper">
                        <a class="menu__item" href="../3-1-blog-post/01-discovery.html">Discovery</a>
                        <a class="menu__item" href="../3-1-blog-post/04-prototype.html">Prototype</a>
                        <a class="menu__item" href="../3-1-blog-post/05-usertesting.html">User Testing</a>
                        <a class="menu__item" href="../3-1-blog-post/06-experiencemapping.html">Experience Mapping</a>
                      </div>
                    </div>
                    <div class="menu__header js-menuHeader">Filter Listing</div>
                    <div class="menu__list is-closed">
                      <div class="menu__wrapper">
                        <a class="menu__item" href="../2-3-filter-listing/01-discovery.html">Discovery</a>
                        <a class="menu__item" href="../2-3-filter-listing/02-ideation.html">Ideation</a>
                        <a class="menu__item" href="../2-3-filter-listing/03-wireframe.html">Wireframe</a>
                        <a class="menu__item" href="../2-3-filter-listing/04-prototype.html">Prototype</a>
                        <a class="menu__item" href="../2-3-filter-listing/05-usertesting.html">User Testing</a>
                        <a class="menu__item" href="../2-3-filter-listing/06-experiencemapping.html">Experience Mapping</a>
                      </div>
                    </div>
                    <div class="menu__header js-menuHeader">Video Metadata</div>
                    <div class="menu__list is-closed">
                      <div class="menu__wrapper">
                        <a class="menu__item" href="../2-2-video-metadata/04-prototype.html">Prototype</a>
                        <a class="menu__item" href="../2-2-video-metadata/05-usertesting.html">User Testing</a>
                        <a class="menu__item" href="../2-2-video-metadata/06-experiencemapping.html">Experience Mapping</a>
                        <a class="menu__item" href="../2-2-video-metadata/07-brand.html">Front-end: Chiller Brand</a>
                      </div>
                    </div>
                    <div class="menu__header js-menuHeader">Cast &amp; Role</div>
                    <div class="menu__list is-closed">
                        <div class="menu__wrapper">
                            <a class="" href="../2-1-cast-role/01-discovery.html">Discovery</a>
                            <a class="" href="../2-1-cast-role/02-ideation.html">Ideation</a>
                            <a class="" href="../2-1-cast-role/03-wireframe.html">Wireframe</a>
                            <a class="" href="../2-1-cast-role/04-prototype.html">Prototype</a>
                            <a class="" href="../2-1-cast-role/05-usertesting.html">User Testing</a>
                            <a class="" href="../2-1-cast-role/06-experiencemapping.html">Experience Mapping</a>
                            <a class="" href="../2-1-cast-role/07-brand.html">Front-end: Chiller Brand</a>
                        </div>
                    </div>
                    <div class="menu__header js-menuHeader">Media Gallery</div>
                    <div class="menu__list is-closed">
                        <div class="menu__wrapper">
                            <a class="" href="../1-5-media-gallery/01-discovery.html">Discovery</a>
                            <a class="" href="../1-5-media-gallery/02-ideation.html">Ideation</a>
                            <a class="" href="../1-5-media-gallery/03-wireframe.html">Wireframe</a>
                            <a class="" href="../1-5-media-gallery/04-prototype.html">Prototype</a>
                            <a class="" href="../1-5-media-gallery/05-usertesting.html">User Testing</a>
                            <a class="" href="../1-5-media-gallery/06-experiencemapping.html">Experience Mapping</a>
                            <a class="" href="../1-5-media-gallery/07-brand.html">Front-end: Chiller Brand</a>
                        </div>
                    </div>
                    <div class="menu__header js-menuHeader">Bulk Actions/Focal Rectangle</div>
                    <div class="menu__list is-closed">
                        <div class="menu__wrapper">
                            <a class="" href="../1-4-bulk-actions/02-ideation.html">Ideation</a>
                            <a class="" href="../1-4-bulk-actions/03-wireframe.html">Wireframe</a>
                            <a class="" href="../1-4-bulk-actions/04-prototype.html">Prototype</a>
                            <a class="" href="../1-4-bulk-actions/05-usertesting.html">User Testing</a>
                            <a class="" href="../1-4-bulk-actions/06-experiencemapping.html">Experience Mapping</a>
                        </div>
                    </div>
                    <div class="menu__header js-menuHeader">Images Styles/Focal Point</div>
                    <div class="menu__list is-closed">
                        <div class="menu__wrapper">
                            <a class="" href="../1-3-image-styles/02-ideation.html">Ideation</a>
                            <a class="" href="../1-3-image-styles/03-wireframe.html">Wireframe</a>
                            <a class="" href="../1-3-image-styles/04-prototype.html">Prototype</a>
                            <a class="" href="../1-3-image-styles/05-usertesting.html">User Testing</a>
                            <a class="" href="../1-3-image-styles/06-experiencemapping.html">Experience Mapping</a>
                        </div>
                    </div>
                    <div class="menu__header js-menuHeader">Asset Library &amp; Media</div>
                    <div class="menu__list is-closed">
                        <div class="menu__wrapper">
                            <a class="" href="../1-2-asset-library/02-ideation.html">Ideation</a>
                            <a class="" href="../1-2-asset-library/04-prototype.html">Prototype</a>
                            <a class="" href="../1-2-asset-library/06-experiencemapping.html">Experience Mapping</a>
                        </div>
                    </div>
                    <div class="menu__header js-menuHeader">Resources</div>
                    <div class="menu__list is-closed">
                      <div class="menu__wrapper">
                        <a class="" href="../resources/observers-guide.html">Observer's Guide</a>
                      </div>
                    </div>
                    <div class="menu__header is-plain">* Work in Progress</div>
                  </div>
                </div-->

                <div class="menu__header js-menuHeader">Chiller</div>
                <div class="submenu menu__list is-closed">
                  <div class="menu__wrapper">
                    <a class="menu__item menu__item--upper" href="../chiller/prototypes.html">Prototypes</a>
                  </div>
                </div>
            </div>
        </nav>
    </div>
</div>
