
<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">
<head>
  <meta charset="utf-8">
  //= ../template/css.html
  <title>Components - Buttons - Concerto Style Guide | DPIM UX Team</title>

</head>

<body class="site-material_ext_publish section-animation first-chapter color-red qp-ui" data-qp-ui="{ 'Mask': {} }">
  <header class="qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 72,
      'desktop-sm': 72,
      'default': 192
    }
  }">
  <div class="header-wrapper qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }">
  <div class="header-title">
    <span class="section-title">Components</span>
    <span class="chapter-title">
      <span class="title-separator">—</span>
      Buttons
    </span>
  </div>
</div>

</header>

<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab"><i class="material-icons material-spec-icon" title="Show navigation">menu</i></button>
</nav>

//= ../template/menu.html

<div id="grid-cont">
  <section class="grid_outer chapter">
    <h1 class="chapter-title">Buttons</h1>

    <div class="chapter-content">
    <div class="chapter-intro">
            <p>A button clearly communicates what action will occur when the user touches it. It consists of text, an icon, or both.</p>
    </div>
      <nav class="chapter-toc">
        <h1>Contents</h1>
        <ul>
        <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#button-type">Button Types</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#usage">Usage</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#flat-button">Flat Buttons</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#wire-button">Wire Buttons</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#round-button">Round Buttons</a></li>
        </ul>
      </nav>

      <div class="article-list">
        <!-- Button type Start -->
        <div id="button-type" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Button Types</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleB1">
                  <div class="module-body">
                      <h4>There are three standard types of buttons:</h4>
                        <ul>
                          <li><strong>Flat Button:</strong> A button made of ink that displays ink reactions on press but does not lift.</li>
                          <li><strong>Wire Button:</strong> A typically rectangular material button that lifts and displays ink reactions on press, but does not lift.</li>
                          <li><strong>Round Buttons:</strong> A flat circular button with either a "+"" or an "x", to indicate add or remove respectively.</li>
                        </ul>
                  </div>
                  <!-- div class="figure-group">
                    <div class="figure-row">
                      <figure class="">
                        <div class="media">
                          <video id="my-video"
                          class="video-js vjs-default-skin"
                          controls preload="auto"
                          width="760px"
                          data-setup='{ "controlBar": { "FullscreenToggle": false } }'>
                          <source src="../video/2-2-collection/bravo.mp4" type='video/mp4'>
                          </video>
                        </div>
                        <figcaption>
                          <p>Bravo: Layout</p>
                        </figcaption>
                      </figure>
                    </div>
                 </div-->
                 </section>
              </div>
            </div>
          </div>
        </div>
        <!-- Button type end -->

        <!-- Usage Start-->
        <div id="usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Usage</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleE1">
                  <div class="module-body">
                    <h3>Flat Buttons</h3>
                    <h4>Use flat buttons in the following locations:</h4>
                    <ul>
                    <li>On toolbars</li>
                    <li>Inline, with padding, so the user can easily find them</li>
                    <li>When multiple wire buttons are on a screen a flat button using the accent color is used for the primary CTA</li>
                    </ul>
                    <h3>Wire Buttons</h3>
                    <h4>Use wire buttons in the following locations:</h4>
                    <ul>
                    <li>On overlays</li>
                    <li>On images</li>
                    <li>When an alternate button style is needed on a card</li>
                    </ul>
                    <h3>Round Buttons</h3>
                    <h4>Use round buttons in the following locations:</h4>
                    <ul>
                    <li>Add/Remove buttons</li>
                    </ul>
                  </div>
                  <!--div class="figure-group">
                    <div class="figure-row">
                      <figure class="">
                        <div class="media">
                         <img src="../../imgs/generalCard.png">
                        </div>
                        <figcaption>
                          <p>Series General Info Card</p>
                        </figcaption>
                      </figure>
                    </div>
                  </div-->
                </section>
        <!-- usage End -->
         <!-- flat buttons Start-->
        <div id="flat-button" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Flat Buttons</h2>

                <section class="moduleE1">
                  <div class="module-body">

                    <h4>A flat action button can have the 3 states:</h4>
                    <ul>
                    <li><strong>Active/Enabled:</strong> Normal state where user can click and perform the action.</li>
                    <li><strong>Inactive/Disabled:</strong> When user can’t interact with the button given the context.</li>
                    <li><strong>Tooltips with error message:</strong> In addition to the inactive/disabled state, there can be a ! icon with tooltips containing error message to indicate what is causing the state. This is most helpful when it is potentially unclear what is causing the state and/or it is critical to resolve the inactive/disabled state.</li>
                    </ul>
                  </div>
                  <div class="figure-group">
                    <div class="figure-row">
                      <figure class="">
                        <div class="media">
                         <img src="../../imgs/enabled-buttons.png">
                        </div>
                        <figcaption>
                          <p>Enabled Flat Buttons</p>
                        </figcaption>
                      </figure>
                      <figure class="">
                        <div class="media">
                         <img  src="../../imgs/disabled-buttons.png">
                        </div>
                        <figcaption>
                          <p>Disabled Flat Buttons</p>
                        </figcaption>
                      </figure>
                      <figure class="">
                        <div class="media">
                         <img src="../../imgs/tool-tip-buttons.png">
                        </div>
                        <figcaption>
                          <p>Flat Button with error icon</p>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </section>
 <!-- flat buttons end-->
  <!-- Wire buttons start-->
        <div id="wire-button" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Wire Buttons</h2>

                <section class="moduleD1">
                  <div class="module-body">

                    <p>Wire buttons are essentially flat buttons with a frame around them this allows for an alternate button look without increasing primacy, maintaining the design's minimalist feel. Wire buttons do not lift, but fill with color on press.</p>

                  </div>
                    <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                           <img  src="../../imgs/wire-buttons1.png">
                          </div>
                          <figcaption>
                            <p>Media card on Gallery page</p>
                          </figcaption>
                        </figure>
                        <figure class="">
                          <div class="media">
                           <img  src="../../imgs/wire-buttons2.png">
                          </div>
                          <figcaption>
                            <p>Edit media overlay</p>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                </section>
 <!-- wire buttons end-->

 <!-- round buttons start-->
        <div id="round-button" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Round Buttons</h2>

                <section class="moduleE1">
                  <div class="module-body">

                    <p>When the same pattern of input can be used multiple times in order to form a group, add/remove buttons can be used to add new rows of the pattern or remove the row.</p>

                  </div>
                  <div class="figure-group">
                    <div class="figure-row">
                      <figure class="">
                        <div class="media">
                         <img src="../../imgs/round-buttons.png">
                        </div>
                        <figcaption>
                          <p>Cast and Credits card on Season page</p>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </section>
 <!-- round buttons end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<footer>
  <div class="footer-grid">
    <div class="footer-L section-what-is-material color-default">&nbsp;</div>
    <div class="footer-grid-L section-what-is-material color-default">
      <a class="footer-text" href="../concerto/prototypes.html">
        <i class="material-icons arrow-L">arrow_back</i>
        <span class="direction">Previous</span>
        <div>Prototypes</div>
      </a>
    </div>

    <div class="footer-R section-animation color-default">&nbsp;</div>
    <div class="footer-grid-R section-animation color-default">
      <a class="footer-text" href="02-ideation.html">
        <i class="material-icons arrow-R">arrow_forward</i>
        <span class="direction">Next</span>
        <div>Collection: Ideation</div>
      </a>
    </div>
  </div>
</footer>
//= ../template/js.html
</body>
</html>
