
<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">
<head>
  <meta charset="utf-8">
  //= ../template/css.html
  <title>Introduction - Concerto Style Guide | DPIM UX Team</title>

</head>

<body class="site-material_ext_publish section-animation first-chapter color-red qp-ui" data-qp-ui="{ 'Mask': {} }">
  <header class="qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 72,
      'desktop-sm': 72,
      'default': 192
    }
  }">
  <div class="header-wrapper qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }">
  <div class="header-title">
    <span class="section-title">Components</span>
    <span class="chapter-title">
      <span class="title-separator">—</span>
      Discovery
    </span>
  </div>
</div>

</header>

<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab"><i class="material-icons material-spec-icon" title="Show navigation">menu</i></button>
</nav>

//= ../template/menu.html

<div id="grid-cont">
  <section class="grid_outer chapter">
    <h1 class="chapter-title">Grid Lists</h1>

    <div class="chapter-content">
    <div class="chapter-intro">
            <p>Grid lists are an alternative to standard list views. Grid lists are distinct from grids used for layouts.</p>
    </div>
      <nav class="chapter-toc">
        <h1>Contents</h1>
        <ul>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#usage">Usage</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#content">Content</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#behavior">Behavior</a></li>
        </ul>
      </nav>

      <div class="article-list">
        <!-- Usage Start -->
        <div id="usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Usage</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
              
                <section class="moduleE1">
                  <div class="module-body">
                     <p>A grid list is best for presenting homogenous data and optimized for visual comprehension and differentiating between similar data types.</p>
                    <p>A grid list consists of a repeated pattern of cells laid vertically and horizontally within the grid list. Tiles hold content and can span one or more cells vertically or horizontally.</p>
                    <p>Use case: View library overlay</p>   
                  </div>
                  <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                           <img  src="../../imgs/view-library.png">
                          </div>
                          <figcaption>
                            <p>Asset Library Overlay on episodes page</p>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <!-- Usage End -->

        <!-- Content Start-->
        <div id="content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Content</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleD1">
                  <div class="module-body">
                    <p>Tile content consists of primary content (usually an image) and secondary content (usually a text or a button). If using tiles, there should be a fallback/default image for the content that does not have images.</p>
                  </div>
                  <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                           <img  src="../../imgs/tile-assetlib.png">
                          </div>
                          <figcaption>
                            <p>Image Tile on Asset Library page</p>
                          </figcaption>
                        </figure>
                        <figure class="">
                          <div class="media">
                           <img  src="../../imgs/tile-dropdown.png">
                          </div>
                          <figcaption>
                            <p>Image Tile on Media Card</p>
                          </figcaption>
                        </figure>
                        <figure class="">
                          <div class="media">
                           <img  src="../../imgs/tile-mediacard-gallery.png">
                          </div>
                          <figcaption>
                            <p>Image Tile on Media Card on Gallery page</p>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <!-- Content End -->

        <!-- Behavior Start-->
        <div id="behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Behavior</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleE1">
                  <div class="module-body">
                    <p>Cut off the grid tiles in the initial view so it is visually clear that the content is overflowing and thus can be scrolled. Avoid horizontal scrolling as it interferes with the reading pattern.</p>
                  </div>
                  <div class="figure-group">
                    <div class="figure-row">
                      <div class="figure-group">
                      <div class="figure-row">
                        <figure class="">
                          <div class="media">
                           <img  src="../../imgs/grid-list.png">
                          </div>
                          <figcaption>
                            <p>Media card on Gallery page</p>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>


        <!-- Behavior Start-->
        
        <!-- Session Recordings End -->
      </div>
    </div>
  </section>
</div>


<footer>
  <div class="footer-grid">
    <div class="footer-L section-what-is-material color-default">&nbsp;</div>
    <div class="footer-grid-L section-what-is-material color-default">
      <a class="footer-text" href="../concerto/prototypes.html">
        <i class="material-icons arrow-L">arrow_back</i>
        <span class="direction">Previous</span>
        <div>Prototypes</div>
      </a>
    </div>

    <div class="footer-R section-animation color-default">&nbsp;</div>
    <div class="footer-grid-R section-animation color-default">
      <a class="footer-text" href="02-ideation.html">
        <i class="material-icons arrow-R">arrow_forward</i>
        <span class="direction">Next</span>
        <div>Collection: Ideation</div>
      </a>
    </div>
  </div>
</footer>
//= ../template/js.html
</body>
</html>
