
<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
  'Futurizr': {
    'hasTouch': 'touch'
  }
}">
<head>
  <meta charset="utf-8">
  //= ../template/css.html
  <title>Components - Text Fields - Concerto Style Guide | DPIM UX Team</title>

</head>

<body class="site-material_ext_publish section-animation first-chapter color-red qp-ui" data-qp-ui="{ 'Mask': {} }">
  <header class="qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 72,
      'desktop-sm': 72,
      'default': 192
    }
  }">
  <div class="header-wrapper qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }">
  <div class="header-title">
    <span class="section-title">Components</span>
    <span class="chapter-title">
      <span class="title-separator">—</span>
      Text Fields
    </span>
  </div>
</div>

</header>

<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab"><i class="material-icons material-spec-icon" title="Show navigation">menu</i></button>
</nav>

//= ../template/menu.html

<div id="grid-cont">
  <section class="grid_outer chapter">
    <h1 class="chapter-title">Text Fields</h1>

    <div class="chapter-content">
    <div class="chapter-intro">
           
    </div>
      <nav class="chapter-toc">
        <h1>Contents</h1>
        <ul>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#usage">Usage</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#behavior">Behavior</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#required">Required Fields</a></li>
          <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#helper">Helper Text</a></li>
        </ul>
      </nav>

      <div class="article-list">
        <!-- usage Start -->
        <div id="usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Usage</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleB1">
                  <div class="module-body">
                    <p>The most used component, text fields allow users to input the necessary information to create and edit content. Text fields allow the user to input text, select text, and lookup data via auto-completion.</p>
                  </div>
                 </section>
                </div>
              </div>
            </div>
         </div>
        </div>
      </div>
        <!-- usage End -->

        <!-- Behavior Start-->
        <div id="behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Behavior</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleE1">
                  <div class="module-body">
                    <h3>All Text Fields</h3>
                    <p>When the user engages with the text input field, the floating inline labels move to float above the field, and takes on the theme’s accent color</p>
                      </div>
                      <div class="figure-group">
                        <div class="figure-row">
                          <figure class="">
                            <div class="media">
                             <img style="width: 50%" src="../../imgs/toggle-tv.png">
                            </div>
                            <figcaption>
                              <p>Toggle on TV episode</p>
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                 </section>
                  </div>
                  <div>
                <section class="moduleE1">
                  <div class="module-body">
                    <h3>Single-Line Text Field</h3>
                    <p>Single-line fields automatically scroll their content to the left as the text input cursor reaches the right edge of the input field. Single line text fields have character limits.</p>
                      </div>
                      <!--div class="figure-group">
                        <div class="figure-row">
                          <figure class="">
                            <div class="media">
                             <img style="width: 50%" src="../../imgs/toggle-tv.png">
                            </div>
                            <figcaption>
                              <p>Toggle on TV episode</p>
                            </figcaption>
                          </figure>
                        </div>
                      </div-->
                 </section>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <!-- Behavior End -->
         <!-- Required Fields Start-->
        <div id="required" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Required Fields</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleE1">
                  <div class="module-body">
                    <p>Multi checkbox is only used for images. The list item is an image, and the checkbox appears on rollover when none of the items are selected. Once one or more items are selected, all the checkboxes on other items appear to indicate that those items are in the same group as the selected ones and thus can also be selected.</p>
                    <p>Use cases: Asset Library, Media card</p>
                      </div>
                      <div class="figure-group">
                        <div class="figure-row">
                          <figure class="">
                            <div class="media">
                             <img style="width: 75%" src="../../imgs/multi-checkbox.png">
                            </div>
                            <figcaption>
                              <p>Multiple items selected on Asset Library page</p>
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                </section> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Required Fields End-->

        <!-- Helper Text Start-->
        <div id="helper" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
          <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Helper Text</h2>
          <div class="article-content">
            <div class="module-list">
              <div>
                <section class="moduleE1">
                  <div class="module-body">
                    <p>Multi checkbox is only used for images. The list item is an image, and the checkbox appears on rollover when none of the items are selected. Once one or more items are selected, all the checkboxes on other items appear to indicate that those items are in the same group as the selected ones and thus can also be selected.</p>
                    <p>Use cases: Asset Library, Media card</p>
                      </div>
                      <div class="figure-group">
                        <div class="figure-row">
                          <figure class="">
                            <div class="media">
                             <img style="width: 75%" src="../../imgs/multi-checkbox.png">
                            </div>
                            <figcaption>
                              <p>Multiple items selected on Asset Library page</p>
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                </section> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Helper Text End-->
      </div>
  </section>
</div>


<footer>
  <div class="footer-grid">
    <div class="footer-L section-what-is-material color-default">&nbsp;</div>
    <div class="footer-grid-L section-what-is-material color-default">
      <a class="footer-text" href="../concerto/prototypes.html">
        <i class="material-icons arrow-L">arrow_back</i>
        <span class="direction">Previous</span>
        <div>Prototypes</div>
      </a>
    </div>

    <div class="footer-R section-animation color-default">&nbsp;</div>
    <div class="footer-grid-R section-animation color-default">
      <a class="footer-text" href="02-ideation.html">
        <i class="material-icons arrow-R">arrow_forward</i>
        <span class="direction">Next</span>
        <div>Collection: Ideation</div>
      </a>
    </div>
  </div>
</footer>
//= ../template/js.html
</body>
</html>
